<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lcmf.xll.recyclerviewdemo">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses_permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY"></uses-permission>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".MainPage"></activity>

        <activity android:name=".FileIO.FileDlg">
        </activity>
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".MessageBox.MsgActivity"></activity>

        <activity android:name=".robot.RobotActivity"></activity>
        <activity android:name=".Tuling.TulingActivity"></activity>

        <activity android:name=".xunfei.XunFeiActivity"></activity>

        <activity android:name=".FileSave.TextSave"></activity>

        <activity android:name=".FileSave.LitepalSave"></activity>

        <activity android:name=".LoadActivity"></activity>

        <activity android:name=".DefView.DefViewActivity"></activity>

        <activity android:name=".EasyBtn.SoEasy"></activity>

        <activity android:name=".AlertBubble.BubbleMain"></activity>

        <activity android:name=".fragment.FragmentNestActivity"></activity>

        <activity android:name=".fragment.GLFragment.GLFragmentActivity"></activity>

        <activity android:name=".ScreenRecoder.ScreenRecoderActivity"></activity>
        <activity android:name=".ScreenRecoder.ScreenCut"></activity>

        <activity android:name=".Notification3D.NotificationActivity"></activity>

        <activity android:name=".DeskAssist.Activity.AssistMain"></activity>
        <service android:name="com.lcmf.xll.recyclerviewdemo.EasyBtn.EasyService" />
        <service android:name=".DeskAssist.Service.AssistService"></service>
        <service android:name="com.lcmf.xll.recyclerviewdemo.AlertBubble.BubbleService"></service>

    </application>

</manifest>